.git
.github
.idea
.vscode
.env
.env.*
!.env.example
.phpunit.cache
.phpunit.result.cache
node_modules
vendor
bootstrap/cache/*.php
public/build
public/hot
public/storage
storage/app/private/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
database/*.sqlite
npm-debug.log
yarn-error.log
.worktrees
